.chat-widget {
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  height: 100vh;
  background: #2e2e2e;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: transform 0.45s ease;
  border-left: 1px solid #191919;
}

.chat-toggle-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #2b2b2b;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 8px 0 0 8px;
  transition: right 0.45s ease;
}

.chat-bubble {
  max-width: 75%;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 6px;
}

.chat-bubble.user {
  background: #d4d4d4;
  color: #444;
  align-self: flex-end;
}

.chat-bubble.assistant {
  background: #444;
  color: #d4d4d4;
  align-self: flex-start;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.chat-icon-svg {
  transition: transform 0.5s ease;
}

.chat-toggle-button.open .chat-icon-svg {
  transform: rotate(180deg);
}


/* quando chat aberto */
.chat-toggle-button.open {
  right: 340px;
  /* mesma largura do chat */
}


.chat-widget.closed {
  transform: translateX(100%);
}

.chat-widget.open {
  transform: translateX(0);
}

.chat-header {
  padding: 14px;
  border-bottom: 1px solid #191919;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #191919;
  gap: 6px;
}

.chat-input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.chat-send {
  margin-top: 3.5px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d4d4d4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z'/%3E%3Cpath d='M6 12h16'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  color: white;
  /* controla stroke via currentColor */
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.typing {
  opacity: 0.7;
  font-style: italic;
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #777;
}